# Python artifacts:
*.pyc

# Windows
cmd.exe

# Eclipse IDE:
.project
.pydevproject

# PyCharm
.idea

# Mac directory info:
.DS_Store

# Game-specific files and directories:
preferences.json
*.json
*.pets
logs/
screenshots/
backups/
contentpacks/
resources/
save.dat
ai-crash.txt